<ion-row>
    <h4 class="display-4">VOORRAAD <i class="fas fa-birthday-cake"></i></h4>
</ion-row>
<ion-row>
  <ion-spinner name="bubbles" *ngIf="!dataLoaded"></ion-spinner>
  <ion-col *ngFor="let products of vitrineState">
    <i *ngIf="products['available']" class="fas fa-check-circle"></i>
    <i *ngIf="!products['available']" class="fas fa-times-circle"></i>
    <p>{{ products['product_name'] }}</p>
  </ion-col>
</ion-row>
<ion-row>
  <small class="text-muted">Updated On: {{ vitrineTimestamp }}</small>
</ion-row>
