<ion-row>
    <h4 class="display-4">TEMPERATUUR <i class="fas fa-temperature-high"></i></h4>
</ion-row>
<ion-row>
  <ion-col *ngFor="let sensors of temperatureData">
    <h4 class="display-4 sensor-no">Sensor {{sensors['temp_sensor_no']}}</h4>
    <h5 class="display-5">Temperatuur</h5>
    <h4 class="display-4 data"><ion-spinner name="bubbles" *ngIf="!dataLoaded"></ion-spinner>{{ sensors['temperature'] | number }}&deg;C</h4>
    <h5 class="display-5">Vochtigheid</h5>
    <h4 class="display-4 data"><ion-spinner name="bubbles" *ngIf="!dataLoaded"></ion-spinner>{{ sensors['humidity'] | number }}%</h4>
    </ion-col>
</ion-row>
<ion-row>
   <small class="text-muted">Updated On: {{ temperatureTimestamp }}</small>
</ion-row> 
