<ion-header>
  <ion-toolbar color="dark">
    <ion-title>BAKKER VAN MAANEN</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <h4 class="display-4"><i class="fas fa-cookie-bite"></i></h4>
  <ion-item>
    <ion-input required [(ngModel)]="user" name="user" type="text" placeholder="Werknemersnummer"></ion-input>
  </ion-item>
  <ion-item>
      <ion-input required [(ngModel)]="password" name="password" type="password" placeholder="Wachtwoord"></ion-input>
  </ion-item>
  <ion-button shape="round" color="dark" (click)="login()">LOGIN</ion-button>
  <small class="text-muted">Don't have an account yet? Click here for more information.</small>
</ion-content>
