<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>BAKKER VAN MAANEN</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <app-vitrine></app-vitrine>
    <app-temperature></app-temperature>
    <app-lights></app-lights>
  </ion-grid>
 <!-- fab placed to the bottom end -->
   <ion-fab vertical="bottom" horizontal="end" slot="fixed">
     <ion-fab-button color="dark">
       <ion-icon name="reorder"></ion-icon>
     </ion-fab-button>
     <ion-fab-list side="top">
       <ion-fab-button color="dark">
         <ion-icon name="trending-up"></ion-icon>
       </ion-fab-button>
       <ion-fab-button color="dark">
          <ion-icon name="phone-portrait"></ion-icon>
       </ion-fab-button>
     </ion-fab-list>
   </ion-fab>
</ion-content>
