// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@font-face{
  font-family: bvmFont;
  src: url('../src/assets/fonts/futura-book.woff2');
}
.loginAlert{
  h2{
    letter-spacing: 1px;
    font-family: bvmFont;
    color: white!important;
  }
  div{
    background-color: rgba(52,58,64,0.65)!important;
    div{
      font-family: bvmFont;
      text-align: center;
      color: white!important;
    }
  }
}
