<ion-row>
  <h4 class="display-4">LIGHT SENSORS <i class="fas fa-lightbulb"></i></h4>
</ion-row>
<ion-row>
  <ion-col>
    <h4 class="display-4 data"><ion-spinner name="bubbles" *ngIf="!dataLoaded"></ion-spinner>{{ humidity }}</h4>
    <p>Sensor no. 1</p>
  </ion-col>
</ion-row>
<ion-row>
  <small class="text-muted">Updated On: {{ lightsTimestamp }}</small>
</ion-row>
